@import "~react-awesome-lightbox/build/style.css";
  
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  


  .responsive {
    width: 30%;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  * {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.wraper {
  position: relative;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom:0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height:0;
  transition: .3s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


/* When you mouse over the container, fade in the overlay title */
.wraper:hover .overlay {
  opacity: 1;
  height: 100%;
   -webkit-box-shadow: -1px 2px 13px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 13px -3px rgba(0,0,0,0.75);
box-shadow: -1px 2px 13px -3px rgba(0,0,0,0.75);
}