a {
    text-decoration: none;
    color: black;

}
a:hover, :visited{
    color: initial;
}
section {
    width:145px;
    height: calc(100vh - 62px);
}
.sidebar {
    position:fixed;
}
.active {
    -webkit-box-shadow: inset 0px -1px 13px -5px rgba(153,153,153,1);
    -moz-box-shadow: inset 0px -1px 13px -5px rgba(153,153,153,1);
    box-shadow: inset 0px -1px 13px -5px rgba(153,153,153,1);
}